.container {
    width: 100%;
    border-radius: 20px;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 5%;
    font-size: 30px;
    background-color: yellow;
}

header {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}

main {
    padding: 60px;
    font-family: sans-serif;
}

input {
    width: 100%;
    margin-bottom: 10px;
    border: 2px solid #16b3e8;
    border-radius: 5px;
}

#get-weather {
    width: 100%;
    background-color: transparent;
    color: #f90505;
    border-radius: 1rem;
    border: 2px solid rgb(0, 229, 255);
}

#get-weather:hover {
    background-color: blue;
    color: white;
}

.weather-info {
    margin-top: 20px;
    font-family: sans-serif;
}

#city {
    font-size: 24px;
    margin-bottom: 10px;
}

#city:hover {
    cursor: pointer;
    color: rgb(18, 227, 199);
}

#temperature {
    font-size: 18px;
    margin-bottom: 10px;
}

#temperature:hover {
    cursor: pointer;
    color: rgb(18, 227, 199);
}

#weather-description {
    font-size: 16px;
    margin-bottom: 10px;
}

#weather-description:hover {
    cursor: pointer;
    color: rgb(18, 227, 199);
}

#weather-icon {
    width: 100px;
    height: 100px;
}

/* Additional CSS */

body {
    background-color: #000000;
    font-family: sans-serif;
    text-align: center;
    padding-top: 5%;
}

h1 {
    font-size: 40px;
    text-align: center;
    color: aqua;
    font-weight: bolder;
    padding-bottom: 4%
}

.container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input,
button {
    font-size: 16px;
}

.weather-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#city,
#temperature,
#weather-description {
    margin: 0;
}

#weather-icon {
    margin-left: 20px;
}

@media screen and (max-width: 576px) {
    .container {
        width: 100%;
        max-width: 100%;
    }

    .weather-info {
        flex-direction: column;
        align-items: center;
    }

    #weather-icon {
        margin-left: 0;
    }
}